:root {
    --primary: #FA8C2B;
}
.input{
    color: black;
    padding-left: 10px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    width: 80%;
    background-color: white;
    height: 40px;
}
.button{
    height: 40px;
    width: 120px;
    border: none;
    /* background-color: var(--primary); */
    border-radius: 10px;
}
#trigger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    z-index: 9999;
    padding: 20px;
    font-family: "Roboto";
}
#mainBody{
    height: 80%;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.main-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
}

.main-top #username {
    color: black;
    padding-left: 10px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    width: 80%;
    background-color: white;
    height: 40px;
}

.main-top #username::placeholder {
    color: rgb(141, 137, 137);
}

.main-top #username:focus {
    border-color: rgb(116, 178, 243);
}

#trigger-button {
    border: none;
    /* background-color: var(--primary); */
    background-color: transparent;
}

.trigger-bottom {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

#trigger-create-button {
    height: 40px;
    width: 120px;
    border: none;
    background-color: var(--primary);
    border-radius: 10px;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
}

.chat h1 {
    color: black;
    font-size: 20px;
}

.chat #roomId {
    color: black;
}

.createRoom {
    border: none;
    height: 40px;
    width: 120px;
    background-color: var(--primary);
}

.joinRoom {
    border: none;
    height: 40px;
    width: 120px;
    background-color: rgb(34, 186, 241);
}

#joinRoom {
    color: black;
    padding-left: 10px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    width: 80%;
    background-color: white;
    height: 40px;
}

.copying {
    display: flex;
    gap: 10px;
}

.chat-room {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
}

.chat-room-top {
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: black;
}
.chat-room-top-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.chat-room-center{
    height: calc(100% - 80px);
    color: black;
    width: 100%;
}
.chat-room-top i {
    color: black;
}
.chat-room-bottom{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
